$brand-color: #e2591e;
$brand-color-lighter: desaturate(lighten($brand-color, 55%), 40%);
$brand-neutral-colors: (#f19077, #bdc4b4, #a08d77, #e4caac);
$brand-accent-colors: (darken(#5ebcbf, 20%), #614767, #5c2d22);
$brand-status-colors: (
	critical: #f04953,
	error: #f04953,
	warning: #ffd144,
	ok: $brand-color,
	unknown: #cccccc,
	disabled: #cccccc
);
$brand-link-color: inherit;
$link-hover-color: #000;
$brand-link-text-decoration: underline;
$brand-grey-colors: (#000001, #333333, #3b3b3b, #434343, #666666);
$brand-graph-colors: $brand-neutral-colors;
